* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  
  .logo {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    nav ul {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1100px;
  }
  
  .gallery-item {
    margin: 10px;
    width: calc(25% - 20px);
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform .3s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .gallery-item {
      width: calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .gallery-item {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 320px) {
    .gallery-item {
      width: 100%;
    }
  }